* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(pictures/index1.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #81571E;
    font-size: 35px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 800px;
    float: left;
    height: 70px;
}

.menu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu ul li {
    list-style: none;
    margin-left: 50px;
    font-size: 14px;
}

.menu ul li a {
    text-decoration: none;
    color: #81571E;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu ul li a:hover {
    color: white;
}

.signup-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.message {
    color: red; /* Par défaut pour un message d'erreur */
    margin-bottom: 15px;
}

.message.success {
    color: green; /* Pour les messages de succès */
}

.signup-container h1 {
    margin-bottom: 20px;
    color: #81571E;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.signup-container button {
    background-color: #81571E;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-container button:hover {
    background-color: #5e3d12;
}

.signup-container p {
    margin-top: 15px;
    font-size: 14px;
}

.signup-container a {
    color: #81571E;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}
